p {
  color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.content-wrapper {
  padding: 10px 15px 0px 95px;
  overflow: auto;
  height: calc(100vh - 65px);
  background: rgb(214, 212, 209);
  background: linear-gradient(
    0deg,
    rgba(214, 212, 209, 1) 0%,
    rgba(255, 255, 255, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}
.df-primary-button {
  height: 40px;
  background: transparent;
  color: gray;
  border: 1px solid gray;
  letter-spacing: 0.7px;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0px;
}
.df-primary-button:hover {
  background: gray;
  color: white;
  cursor: pointer;
}
.content-wrapper-button-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
}
.content-wrapper-title {
  color: gray;
  letter-spacing: 0.5px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 2px;
  background: rgb(205, 198, 235);
}
.df-normal-icon {
  background: rgb(237, 237, 237);
  border-bottom: 1px solid #b1a8a8;
  height: 65px;
}
.df-normal-icon-selected {
  background: white;
  border-bottom: 1px solid #b1a8a8;
  height: 65px;
}
.df-title-icon-sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.df-side-bar-title {
  margin: -8px;
  padding: 0;
}
.df-side-bar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.df-side-bar-main-menu {
  margin-top: 55px;
}
.df-navbar-top-div {
  height: 55px;
  background: var(--sidebar-color);
  position: sticky;
  z-index: 999;
  padding: 0 15px;
}
.df-navbar-header-title {
  width: fit-content;
  font-size: larger;
  letter-spacing: 0.5px;
  font-family: system-ui;

  color: gray;
}
.df-custom-action-cell {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.df-action-cell-icon {
  height: 52px;
}
.df-action-edit-icon {
  padding: 5px;
}
.df-action-delete-icon {
  padding: 5px;
}
.df-custom-edit-cell {
  padding: 5px;
  cursor: pointer;
}
.df-custom-delete-cell {
  padding: 5px;
  cursor: pointer;
}
.df-text-field {
  width: 100%;
}
.df-side-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 1px solid black;
}
.df-side-modal-title {
  margin: 0;
  padding: 0;
}
.df-side-modal-body {
  padding: 20px;
}
.MuiDataGrid-root {
  padding: 5px;
  height: calc(100vh - 145px) !important;
  overflow: auto;
  box-shadow: 1px 1px 8px 1px rgba(145, 145, 145, 0.3);
  background: white;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  box-shadow: 1px 1px 8px 1px rgba(145, 145, 145, 0.3) !important;
}
.history-table {
  background: linear-gradient(
    0deg,
    rgba(214, 212, 209, 1) 0%,
    rgba(255, 255, 255, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}
