.model-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  overflow: auto;
  height: calc(100vh - 119px);
}
.button-div {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.date-column{
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.action-column{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
}
.header-div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}